<!DOCTYPE html>
<html>
  <head>
    <title>Surfing Carmel</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="content">
      <h1> Surf's Up! </h1>
      <div class="wave-journal">
        {{#journal_entry}}
          <h4><a href="#" class="subheader">{{title}}</a></h4>
          <p>{{content}}</p>
        {{/journal_entry}}
        <a href="/"> Back to Home Page </a>
      </div>
    </div>
  </body>
</html>
